<ons-navigator var="app.navi">
    <ons-page>

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">A propos</div>
        </ons-toolbar>

        <h1>Page à propos</h1>
        <p>Cette application sert de gestionnaire pour les conférences du DevFest. </p>
        <p>Version: 1.0</p>
        <p>Author : <a onclick="openAuthorLink()" href="">Gwénaël Provost</a></p>

    </ons-page>
</ons-navigator>
