<ons-navigator var="app.navi">
    <ons-page id="techniquesPage">

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Technique</div>
        </ons-toolbar>

        <h1>Page Technique</h1>

        <ons-list id="techniqueList">
            <ons-list-item id="available-item"><strong>Available</strong>: </ons-list-item>
            <ons-list-item id="platform-item"><strong>Platform</strong>: </ons-list-item>
            <ons-list-item id="version-item"><strong>Version</strong>: </ons-list-item>
            <ons-list-item id="uuid-item"><strong>Uuid</strong>: </ons-list-item>
            <ons-list-item id="cordova-item"><strong>Cordova</strong>: </ons-list-item>
            <ons-list-item id="model-item"><strong>Model</strong>: </ons-list-item>
            <ons-list-item id="manufacturer-item"><strong>Manufacturer</strong>: </ons-list-item>
            <ons-list-item id="connexion-item"><strong>Connexion</strong>: </ons-list-item>
    </ons-page>
</ons-navigator>
